:root {
    /* Primary colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* Neutral colors */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9375rem;
    color: hsl(234, 12%, 34%);
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 auto);
    gap: 1.9375rem;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem 1.25rem;
}

.main-header-one {
    font-weight: 200;
}

.introduction {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    margin-bottom: 1.25rem;
}

.intro-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 21.875rem;
    margin: 0 auto;
    font-weight: 200;
}

section {
    background-color: var(--very-light-gray);
    border-radius: 0.5rem;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 1.0);
    margin: 0.625rem 0;
    padding: 1.25rem;
    text-align: center;
    width: 21.875rem;
    height: 15.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

section img {
    width: 2.5rem;
    height: 2.5rem;
}

.title {
    text-align: left;
    margin-bottom: 0.5rem;
}

.paragraph {
    text-align: left;
}

.supervisor-card {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    align-self: center;
    border-top: 0.3125rem solid var(--cyan);
}

.supervisor-p {
    width: 17rem;
    text-align: left;
}

.team-p {
    text-align: left;
}

.karma-p {
    text-align: left;
}

.calculator-p {
    text-align: left;
}

.team-builder-card {
    grid-column: 2 / 3;
    /* Span across the second and third columns */
    grid-row: 2 / 3;
    /* First row */
    border-top: 0.3125rem solid var(--red);
    align-self: flex-start;
}

.karma-card {
    border-top: 0.3125rem solid var(--orange);
    grid-column: 2 / 3;
    /* First column */
    grid-row: 3 / 4;
    /* Second row */
}

.calculator-card {
    border-top: 0.3125rem solid var(--blue);
    grid-column: 3 / 4;
    /* Span across the second and third columns */
    grid-row: 2 / 4;
    /* Second row */
    align-self: center;
}

.image-container {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.images {
    width: 4rem;
    height: 4rem;
}


/* Responsive Design */

@media (min-width: 48rem) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container {
        bottom: 1.5rem;
        right: 1.5rem;
    }
    section {
        padding: 2rem;
    }
}


/* Mobile-First Responsive Design */

@media (max-width: 48rem) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    section {
        width: 80%;
        margin: 0 auto;
    }
    .intro-text {
        text-align: center;
        margin-bottom: 1rem;
    }
}


/* Tablet and Desktop */

@media (min-width: 48.0625rem) and (max-width: 89.9375rem) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    section {
        padding: 2rem;
        margin: 0 auto;
    }
}

@media (min-width: 90rem) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    section {
        padding: 2rem;
        height: auto;
    }
    .image-container {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}